{% extends "layout.html" %}

{% block content %}
    <img id="ImageMap1" class="img-fluid center" src="/static/advent2019.jpg" usemap="#imagemap">
    <map name="imagemap" id="imagemap">
      <area shape="rect" coords="333,250,370,310"   href="go_to_day?day=1" title="" alt="">
      <area shape="rect" coords="750,130,795,195"   href="go_to_day?day=2" title="" alt="">
      <area shape="rect" coords="875,315,915,385"   href="go_to_day?day=3" title="" alt="">
      <area shape="rect" coords="65,400,105,460"    href="go_to_day?day=4" title="" alt="">
      <area shape="rect" coords="190,100,225,160"   href="go_to_day?day=5" title="" alt="">
      <area shape="rect" coords="620,220,655,280"   href="go_to_day?day=6" title="" alt="">
      <area shape="rect" coords="865,480,900,540"   href="go_to_day?day=7" title="" alt="">
      <area shape="rect" coords="185,290,225,348"   href="go_to_day?day=8" title="" alt="">
      <area shape="rect" coords="900,190,935,250"   href="go_to_day?day=9" title="" alt="">
      <area shape="rect" coords="25,240,65,305"     href="go_to_day?day=10" title="" alt="">
      <area shape="rect" coords="720,305,765,375"   href="go_to_day?day=11" title="" alt="">
      <area shape="rect" coords="328,150,370,205"   href="go_to_day?day=12" title="" alt="">
      <area shape="rect" coords="965,425,1005,490"  href="go_to_day?day=13" title="" alt="">
      <area shape="rect" coords="90,133,125,185"    href="go_to_day?day=14" title="" alt="">
      <area shape="rect" coords="820,230,860,290"   href="go_to_day?day=15" title="" alt="">
      <area shape="rect" coords="220,400,270,475"   href="go_to_day?day=16" title="" alt="">
      <area shape="rect" coords="230,195,275,260"   href="go_to_day?day=17" title="" alt="">
      <area shape="rect" coords="860,75,918,150"    href="go_to_day?day=18" title="" alt="">
      <area shape="rect" coords="30,40,75,115"      href="go_to_day?day=19" title="" alt="">
      <area shape="rect" coords="680,40,735,110"    href="go_to_day?day=20" title="" alt="">
      <area shape="rect" coords="320,60,370,125"    href="go_to_day?day=21" title="" alt="">
      <area shape="rect" coords="625,130,680,205"   href="go_to_day?day=22" title="" alt="">
      <area shape="rect" coords="440,185,490,260"   href="go_to_day?day=23" title="" alt="">
      <area shape="rect" coords="520,140,570,210"   href="go_to_day?day=24" title="" alt="">
      <area shape="rect" coords="460,3,565,128"     href="go_to_day?day=25" title="" alt="">
    </map>
    <br>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <a href="{{ url_for('instructions') }}" class="btn btn-light btn-lg btn-block">Click Here For Instructions</a>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock content %}