{% extends "layout.html" %}

{% block content %}
<br>
<a href="{{ url_for('home') }}">
    <img src="static/BackBtn.png" alt="Back">
</a>
<div class="container white-background">
    <br>

    <h1 class="center">Family Advent</h1>
    <h1>What is it?</h1>
    <p>Families are so busy during the holiday season that it is challenging to take time to focus on what matters most.
        We all want our children to recognize that
        Christmas is about Jesus. This resource gives families an easy and fun way to take a few minutes each day to
        focus on Him. </p>
    <p>Each day families go to familyadvent.com and click on the number that coordinates with the date. They will then
        be linked to a devotional for that day. Each devotional includes:</p>
    <ul>
        <li>a few verses of Scripture to read together (there are also links where you can read it online and even have
            it read to you)
        </li>
        <li>some discussion thoughts and questions</li>
        <li>a suggested activity to do together</li>
        <li>usually some online activity, either a video to watch together or a game to play (please know that we have
            no control over other content that YouTube links or promotes)
        </li>
        <li>a prayer prompt for your family</li>
    </ul>

    <h1>When Does it Start?</h1>
    <p>The first devotion will be posted on December 1. A new one will be available each day through December 25. You
        can click back on previous days, but you can’t jump ahead. It adds to the suspense/fun for the kids.</p>

    <h1>Who Can Use It?</h1>
    <p>Anyone! Any family should find it helpful in focusing on Jesus through the Christmas season. Most content is
        geared towards families with preschool and elementary kids, but you can tailor it to fit your needs.</p>

    <h1>Frequently Asked Questions:</h1>
    <blockquote>
        <h3>How long will it take to do this?</h3>
        <p>We recommend that families block out about 15 minutes a day. You can make it as long or as short as you
            want.</p>
        <h3>What if we miss a day?</h3>
        <p>Not a problem. Just jump right back in. You can go back and read the missed day if you want, but you can also
            just keep moving ahead. The important part is to NOT QUIT.</p>
        <h3>What if we don’t want to do the activities or don’t have time? </h3>
        <p>That is absolutely fine. Just DO SOMETHING. Just reading the verses with your kids is huge. We know not every
            family can or will do every activity. Again, that is fine. Just do as much or as little as you want. Just do
            it!</p>
    </blockquote>

    <br>
    <br>
</div>
{% endblock content %}